@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

#game-word {
  text-align: center;
  font-size: 60px;
  text-shadow: 1px 8px 9px black;

}

#guessing {
  text-align: center;
}

.turns-left {
  text-align: center;
}

#letters-guessed {
  text-align: center;
}

#game-word {

  span {
  margin: 0 8px;
  }
}
